*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(24,222,314,0.222);
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
}
.grid-container{
display: grid;
grid-gap: 10px;
grid-auto-rows: minmax(100px, auto);
min-height: 60vh;
padding: 20px;
}

.item1{
    background-color: aqua;
    grid-column:1/20;
    grid-row:1;
}

.item2{
   background-color: rgb(165, 127, 255);
   grid-column: 20/40;
   grid-row: 1;  
}

.item3{
    background-color: bisque;
    grid-column: 1/15;
    grid-row: 2/4; ;
}

.item4{
   background-color: beige;
   grid-column: 15/40;
   grid-row:2;

}

.item5{
   background-color: beige;
   grid-column: 15/40;
   grid-row: 3;
}